In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('pokemon_data.csv',delimiter=',')

In [9]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [7]:
# To Get the records and their counts
df['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [10]:
# To know about the columns
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
# To get row 1 to 4
df.iloc[1:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [14]:
# Try to get the value of "Charmander" name here
df.iloc[4,1]

'Charmander'

In [18]:
# To iter through the rows
for index,rows in df.iterrows():
    print(index,rows['Type 1'])

0 Grass
1 Grass
2 Grass
3 Grass
4 Fire
5 Fire
6 Fire
7 Fire
8 Fire
9 Water
10 Water
11 Water
12 Water
13 Bug
14 Bug
15 Bug
16 Bug
17 Bug
18 Bug
19 Bug
20 Normal
21 Normal
22 Normal
23 Normal
24 Normal
25 Normal
26 Normal
27 Normal
28 Poison
29 Poison
30 Electric
31 Electric
32 Ground
33 Ground
34 Poison
35 Poison
36 Poison
37 Poison
38 Poison
39 Poison
40 Fairy
41 Fairy
42 Fire
43 Fire
44 Normal
45 Normal
46 Poison
47 Poison
48 Grass
49 Grass
50 Grass
51 Bug
52 Bug
53 Bug
54 Bug
55 Ground
56 Ground
57 Normal
58 Normal
59 Water
60 Water
61 Fighting
62 Fighting
63 Fire
64 Fire
65 Water
66 Water
67 Water
68 Psychic
69 Psychic
70 Psychic
71 Psychic
72 Fighting
73 Fighting
74 Fighting
75 Grass
76 Grass
77 Grass
78 Water
79 Water
80 Rock
81 Rock
82 Rock
83 Fire
84 Fire
85 Water
86 Water
87 Water
88 Electric
89 Electric
90 Normal
91 Normal
92 Normal
93 Water
94 Water
95 Poison
96 Poison
97 Water
98 Water
99 Ghost
100 Ghost
101 Ghost
102 Ghost
103 Rock
104 Psychic
105 Psychic
106 Water
107 Water
108 Electric
109 Electric
110 Grass
111 Grass
112 Ground
113 Ground
114 Fighting
115 Fighting
116 Normal
117 Poison
118 Poison
119 Ground
120 Ground
121 Normal
122 Grass
123 Normal
124 Normal
125 Water
126 Water
127 Water
128 Water
129 Water
130 Water
131 Psychic
132 Bug
133 Ice
134 Electric
135 Fire
136 Bug
137 Bug
138 Normal
139 Water
140 Water
141 Water
142 Water
143 Normal
144 Normal
145 Water
146 Electric
147 Fire
148 Normal
149 Rock
150 Rock
151 Rock
152 Rock
153 Rock
154 Rock
155 Normal
156 Ice
157 Electric
158 Fire
159 Dragon
160 Dragon
161 Dragon
162 Psychic
163 Psychic
164 Psychic
165 Psychic
166 Grass
167 Grass
168 Grass
169 Fire
170 Fire
171 Fire
172 Water
173 Water
174 Water
175 Normal
176 Normal
177 Normal
178 Normal
179 Bug
180 Bug
181 Bug
182 Bug
183 Poison
184 Water
185 Water
186 Electric
187 Fairy
188 Normal
189 Fairy
190 Fairy
191 Psychic
192 Psychic
193 Electric
194 Electric
195 Electric
196 Electric
197 Grass
198 Water
199 Water
200 Rock
201 Water
202 Grass
203 Grass
204 Grass
205 Normal
206 Grass
207 Grass
208 Bug
209 Water
210 Water
211 Psychic
212 Dark
213 Dark
214 Water
215 Ghost
216 Psychic
217 Psychic
218 Normal
219 Bug
220 Bug
221 Normal
222 Ground
223 Steel
224 Steel
225 Fairy
226 Fairy
227 Water
228 Bug
229 Bug
230 Bug
231 Bug
232 Bug
233 Dark
234 Normal
235 Normal
236 Fire
237 Fire
238 Ice
239 Ice
240 Water
241 Water
242 Water
243 Ice
244 Water
245 Steel
246 Dark
247 Dark
248 Dark
249 Water
250 Ground
251 Ground
252 Normal
253 Normal
254 Normal
255 Fighting
256 Fighting
257 Ice
258 Electric
259 Fire
260 Normal
261 Normal
262 Electric
263 Fire
264 Water
265 Rock
266 Rock
267 Rock
268 Rock
269 Psychic
270 Fire
271 Psychic
272 Grass
273 Grass
274 Grass
275 Grass
276 Fire
277 Fire
278 Fire
279 Fire
280 Water
281 Water
282 Water
283 Water
284 Dark
285 Dark
286 Normal
287 Normal
288 Bug
289 Bug
290 Bug
291 Bug
292 Bug
293 Water
294 Water
295 Water
296 Grass
297 Grass
298 Grass
299 Normal
300 Normal
301 Water
302 Water
303 Psychic
304 Psychic
305 Psychic
306 Psychic
307 Bug
308 Bug
309 Grass
310 Grass
311 Normal
312 Normal
313 Normal
314 Bug
315 Bug
316 Bug
317 Normal
318 Normal
319 Normal
320 Fighting
321 Fighting
322 Normal
323 Rock
324 Normal
325 Normal
326 Dark
327 Dark
328 Steel
329 Steel
330 Steel
331 Steel
332 Steel
333 Steel
334 Fighting
335 Fighting
336 Fighting
337 Electric
338 Electric
339 Electric
340 Electric
341 Electric
342 Bug
343 Bug
344 Grass
345 Poison
346 Poison
347 Water
348 Water
349 Water
350 Water
351 Water
352 Fire
353 Fire
354 Fire
355 Fire
356 Psychic
357 Psychic
358 Normal
359 Ground
360 Ground
361 Ground
362 Grass
363 Grass
364 Normal
365 Dragon
366 Dragon
367 Normal
368 Poison
369 Rock
370 Rock
371 Water
372 Water
373 Water
374 Water
375 Ground
376 Ground
377 Rock
378 Rock
379 Rock
380 Rock
381 Water
382 Water
383 Normal
384 Normal
385 Ghost
386 Ghost
387 Ghost
388 Ghost
389 Ghost
390 Grass
391 Psychic
392 Dark
393 Dark
394 Psychic
395 Ice
396 Ice
397 Ice
398 Ice
399 Ice
400 Ice
401 Water
402 Water
403 Water
404 Water
405 Water
406 Dragon
407 Dragon
408 Dragon
409 Dragon
410 Steel
411 Steel
412 Steel
413 Steel
414 Rock
415 Ice
416 Steel
417 Dragon
418 Dragon
419 Dragon
420 Dragon
421 Water
422 Water
423 Ground
424 Ground
425 Dragon
426 Dragon
427 Steel
428 Psychic
429 Psychic
430 Psychic
431 Psychic
432 Grass
433 Grass
434 Grass
435 Fire
436 Fire
437 Fire
438 Water
439 Water
440 Water
441 Normal
442 Normal
443 Normal
444 Normal
445 Normal
446 Bug
447 Bug
448 Electric
449 Electric
450 Electric
451 Grass
452 Grass
453 Rock
454 Rock
455 Rock
456 Rock
457 Bug
458 Bug
459 Bug
460 Bug
461 Bug
462 Bug
463 Bug
464 Electric
465 Water
466 Water
467 Grass
468 Grass
469 Water
470 Water
471 Normal
472 Ghost
473 Ghost
474 Normal
475 Normal
476 Normal
477 Ghost
478 Dark
479 Normal
480 Normal
481 Psychic
482 Poison
483 Poison
484 Steel
485 Steel
486 Rock
487 Psychic
488 Normal
489 Normal
490 Ghost
491 Dragon
492 Dragon
493 Dragon
494 Dragon
495 Normal
496 Fighting
497 Fighting
498 Fighting
499 Ground
500 Ground
501 Poison
502 Poison
503 Poison
504 Poison
505 Grass
506 Water
507 Water
508 Water
509 Grass
510 Grass
511 Grass
512 Dark
513 Electric
514 Normal
515 Ground
516 Grass
517 Electric
518 Fire
519 Fairy
520 Bug
521 Grass
522 Ice
523 Ground
524 Ice
525 Normal
526 Psychic
527 Psychic
528 Rock
529 Ghost
530 Ice
531 Electric
532 Electric
533 Electric
534 Electric
535 Electric
536 Electric
537 Psychic
538 Psychic
539 Psychic
540 Steel
541 Water
542 Fire
543 Normal
544 Ghost
545 Ghost
546 Psychic
547 Water
548 Water
549 Dark
550 Grass
551 Grass
552 Normal
553 Psychic
554 Grass
555 Grass
556 Grass
557 Fire
558 Fire
559 Fire
560 Water
561 Water
562 Water
563 Normal
564 Normal
565 Normal
566 Normal
567 Normal
568 Dark
569 Dark
570 Grass
571 Grass
572 Fire
573 Fire
574 Water
575 Water
576 Psychic
577 Psychic
578 Normal
579 Normal
580 Normal
581 Electric
582 Electric
583 Rock
584 Rock
585 Rock
586 Psychic
587 Psychic
588 Ground
589 Ground
590 Normal
591 Normal
592 Fighting
593 Fighting
594 Fighting
595 Water
596 Water
597 Water
598 Fighting
599 Fighting
600 Bug
601 Bug
602 Bug
603 Bug
604 Bug
605 Bug
606 Grass
607 Grass
608 Grass
609 Grass
610 Water
611 Ground
612 Ground
613 Ground
614 Fire
615 Fire
616 Fire
617 Grass
618 Bug
619 Bug
620 Dark
621 Dark
622 Psychic
623 Ghost
624 Ghost
625 Water
626 Water
627 Rock
628 Rock
629 Poison
630 Poison
631 Dark
632 Dark
633 Normal
634 Normal
635 Psychic
636 Psychic
637 Psychic
638 Psychic
639 Psychic
640 Psychic
641 Water
642 Water
643 Ice
644 Ice
645 Ice
646 Normal
647 Normal
648 Electric
649 Bug
650 Bug
651 Grass
652 Grass
653 Water
654 Water
655 Water
656 Bug
657 Bug
658 Grass
659 Grass
660 Steel
661 Steel
662 Steel
663 Electric
664 Electric
665 Electric
666 Psychic
667 Psychic
668 Ghost
669 Ghost
670 Ghost
671 Dragon
672 Dragon
673 Dragon
674 Ice
675 Ice
676 Ice
677 Bug
678 Bug
679 Ground
680 Fighting
681 Fighting
682 Dragon
683 Ground
684 Ground
685 Dark
686 Dark
687 Normal
688 Normal
689 Normal
690 Dark
691 Dark
692 Fire
693 Bug
694 Dark
695 Dark
696 Dark
697 Bug
698 Bug
699 Steel
700 Rock
701 Grass
702 Flying
703 Flying
704 Electric
705 Electric
706 Dragon
707 Dragon
708 Ground
709 Ground
710 Dragon
711 Dragon
712 Dragon
713 Water
714 Water
715 Normal
716 Normal
717 Bug
718 Grass
719 Grass
720 Grass
721 Fire
722 Fire
723 Fire
724 Water
725 Water
726 Water
727 Normal
728 Normal
729 Normal
730 Fire
731 Fire
732 Bug
733 Bug
734 Bug
735 Fire
736 Fire
737 Fairy
738 Fairy
739 Fairy
740 Grass
741 Grass
742 Fighting
743 Fighting
744 Normal
745 Psychic
746 Psychic
747 Psychic
748 Steel
749 Steel
750 Steel
751 Steel
752 Fairy
753 Fairy
754 Fairy
755 Fairy
756 Dark
757 Dark
758 Rock
759 Rock
760 Poison
761 Poison
762 Water
763 Water
764 Electric
765 Electric
766 Rock
767 Rock
768 Rock
769 Rock
770 Fairy
771 Fighting
772 Electric
773 Rock
774 Dragon
775 Dragon
776 Dragon
777 Steel
778 Ghost
779 Ghost
780 Ghost
781 Ghost
782 Ghost
783 Ghost
784 Ghost
785 Ghost
786 Ghost
787 Ghost
788 Ice
789 Ice
790 Flying
791 Flying
792 Fairy
793 Dark
794 Dragon
795 Rock
796 Rock
797 Psychic
798 Psychic
799 Fire

In [21]:
# To fetch the records with Type 1 = 'Grass'
df.loc[df['Type 1']=='Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [26]:
# Sorting values by a specific column
df.sort_values(by="Name",ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [29]:
# Sorting the values by two columns
df.sort_values(by=['Name','Type 1'],ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [30]:
# First ascending and then descinding
df.sort_values(by=['Name','Type 1'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [31]:
# Adding the numeric values
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [32]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [35]:
# To drop a specific column in the dataFrame
df.drop(['Total','Generation'],axis=1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,True

In [36]:
df = df.drop(['Total'],axis=1)

In [40]:
# To add the column [rows:rows,columns:columns]
df['Total'] = df.iloc[:,4:10].sum(axis=1)

In [41]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [64]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

In [68]:
df = df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Total','Generation', 'Legendary', ]]

In [69]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [70]:
# To save the file
df.to_csv('pokemon_modified.csv',index=False)

In [75]:
## To filter the data
new_df = df[(df['Type 1'] == 'Grass') & (df['Type 2']=='Poison')]

In [76]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 652
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           15 non-null     int64
 1   Name        15 non-null     object
 2   Type 1      15 non-null     object
 3   Type 2      15 non-null     object
 4   HP          15 non-null     int64
 5   Attack      15 non-null     int64
 6   Defense     15 non-null     int64
 7   Sp. Atk     15 non-null     int64
 8   Sp. Def     15 non-null     int64
 9   Speed       15 non-null     int64
 10  Total       15 non-null     int64
 11  Generation  15 non-null     int64
 12  Legendary   15 non-null     bool
dtypes: bool(1), int64(9), object(3)
memory usage: 1.5+ KB

In [79]:
############################

In [80]:
# Filter the data with matching patterns
df[df['Name'].str.contains('Mega')].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False

In [83]:
df[df['Type 1'].str.contains('Fire|Grass', regex=True)].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [86]:
# With case incensitive
import re
df[df['Type 1'].str.contains('fiRe|grAsS',flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [87]:
df[df['Name'].str.contains('pi[a-z]',flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,195,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,299,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,390,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,500,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
181,167,Spinarak,Bug,Poison,40,60,40,40,40,30,250,2,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
202,187,Hoppip,Grass,Flying,35,35,40,35,55,50,250,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,410,2,False
345,316,Gulpin,Poison,NaN,70,43,53,43,53,40,302,3,False
357,326,Grumpig,Psychic,NaN,80,45,65,90,110,80,470,3,False
358,327,Spinda,Normal,NaN,60,60,60,60,60,60,360,3,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,290,3,False
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,460,3,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,314,4,False
463,416,Vespiquen,Bug,Flying,70,80,102,80,102,40,474,4,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,220,4,False
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,485,4,False
502,452,Drapion,Poison,Dark,70,90,110,60,75,95,500,4,False
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,308,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False
596,536,Palpitoad,Water,Ground,75,65,55,65,55,69,384,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,600,5,False
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False

In [88]:
df[df['Name'].str.contains('^pi[a-z]',flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,314,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False

In [89]:
# Derive a conditional column for your data
df.loc[df['Type 1']=='Fire', 'Legendary'] =True

In [90]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,True

In [93]:
df.loc[df['Type 2']=='Poison', 'Legendary'] = 'Type2 is Poison'
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,Type2 is Poison
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,Type2 is Poison
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,Type2 is Poison
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,Type2 is Poison
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,True

In [94]:
###############################

In [97]:
########### Group by ##########

In [98]:
df = pd.read_csv('pokemon_modified.csv')

In [104]:
## Getting top 10 Pokemon Total
df.groupby('Name').sum()['Total'].sort_values(ascending=False)[1:10]

Name
MewtwoMega Mewtwo X        780
RayquazaMega Rayquaza      780
KyogrePrimal Kyogre        770
GroudonPrimal Groudon      770
Arceus                     720
LatiasMega Latias          700
TyranitarMega Tyranitar    700
DiancieMega Diancie        700
KyuremBlack Kyurem         700
Name: Total, dtype: int64

In [105]:
df.groupby('Type 1').mean()['Total'].sort_values(ascending=False)[1:10]

Type 1
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Name: Total, dtype: float64

In [108]:
# Group by two columns
df.groupby(['Type 1','Type 2']).mean()['Total'].sort_values(ascending=False)[1:10]

Type 1   Type 2
Dragon   Ice         686.666667
Steel    Dragon      680.000000
Ghost    Dragon      680.000000
Psychic  Dark        680.000000
Dragon   Fire        680.000000
         Electric    680.000000
Rock     Dark        650.000000
Dragon   Psychic     650.000000
         Flying      641.666667
Name: Total, dtype: float64

In [109]:
##############################

In [110]:
######## Working with Large files